<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>New Comment Page</h1>
	<form name="newcomment"action="/comments" method="POST">
		<label for="newcomment">Body:</label><br>
		<input type="text" name="comment[body]" autofocus required><br><br>
		<label for="commentName">Post Id:</label><br>
		<input type="text" name="comment[post_id]" required><br><br>
		<input type="submit" value="Create New comment">
	</form>
</body>
</html>
