<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reddit Clone</title>
</head>
<body>
  <h1>Reddit Clone</h1>
  <div>
    <h3>USERS</h3>
    <a href="users">Show all Users</a><br><br>
    <a href="users/new">Create a User</a><br><br>
    <a href="users/edit">Edit a User</a><br><br>
    <a href="users/delete">Delete a User</a><br><br>

    <h3>POSTS</h3>
    <a href="posts">Show all Posts</a><br><br>
    <a href="posts/new">Create a Post</a><br><br>
    <a href="posts/edit">Edit a Post</a><br><br>
    <a href="posts/delete">Delete a Post</a><br><br>

    <h3>COMMENTS</h3>
    <a href="comments">Show all Comments</a><br><br>
    <a href="comments/new">Create a Comment</a><br><br>
    <a href="comments/edit">Edit a Comment</a><br><br>
    <a href="comments/delete">Delete a Comment</a><br><br>
  </div>

</body>
</html>
